# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.venv/*

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/

# VSCode
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Coverage reports
.coverage
coverage.xml
*.cover
*.log
htmlcov/

# Pytest
.pytest_cache/

# Packaging
build/
dist/
*.egg-info/

# IntelliJ IDEA
*.iml
